<div class="row">
  <div class="col-sm-8">
    <div class="row tracklisting">
      <ul>
        <li *ngFor="let track of tracks"> albumInfo?.album.tracks">
          <div class="col-sm-5">
            <span class="track-number">track.number</span>
            <span class="track-name">track.name</span>
          </div>
          <div class="col-sm-3 text-right">
            <span class="track-time">track.time</span>
            <span class="price-and-buy"><button>track.price</button></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
